.molchatLoader {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: 50%;
    border-radius: 50%;
    border: 3px dashed var(--rt-orange);
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.4);
    }
}
