/*Контейнер для всего содержимого сайта или контейнер приложения*/
.appContainer {
    position: relative;
    flex: 1;
    display: flex;
    background-color: var(--rt-white-5);
}

.page {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background-color: var(--rt-white-10);
}

.container {
    vertical-align: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: var(--rt-white-20);
    border-radius: 16px;
}

.containerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
}