@import url('/src/styles/colors.css');

/*button style*/
.btn-rounded {
        --border-radius: 8px;
}

.btn-orange {
        --color: var(--rt-orange);
        --color-rgb: var(--rt-orange-rgb);
}
/*Добавить общий шаблон для кнопок, на основе которого будут пострены кнопочные стили*/
/*Пример кнопочного стиля*/
.btn {
        --btn-height: 48px;
        --border-radius: 0;
        --current-color: var(--rt-orange);
        --current-color-rgb: var(--rt-orange-rgb);
        border-radius: 8px;
        /*добавлено*/
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        min-width: 120px;
        height: var(--btn-height);
        padding: 0 24px;
        border: 2px solid transparent;
        font-size: 1rem; /*масштаб отноститьно главного шрифта*/
        line-height: 1.5rem;
        font-weight: 500;
        cursor: pointer;
        white-space: nowrap;
        color: #fff;
        background-color: var(--current-color);
        margin: 5px;
}
/*контейнер для элементов*/
.container {
        width: 624px;
        padding: 52px 104px;
}
.container {
        vertical-align: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        background-color: var(--rt-white-20);
        border-radius: 16px;
}

.container__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 320px;
}
/*Контейнер для всего содержимого сайта или контейнер приложения*/
#app-container {
        position: relative;
        flex: 1;
        display: flex;
        background-color: var(--rt-white-5);
}

#app-container #page {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
        background-color: var(--rt-white-10);
}

/*Контейнер для поля и само поле*/
.input-container {
        --input-padding: 20px 12px 4px;
        --input-height: 48px;
        margin: 5px;
}

.input-container .input__input {
        height: var(--input-height);
        padding: var(--input-padding);
        background-color: var(--rt-transparent-5);
        position: relative;
        outline: none;
        border: none;
        font-size: 1rem;
        width: 100%;
        color: var(--rt-main-text);
        border-radius: 8px;
        /*добавлено*/
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
}