@import url('/src/styles/index.css');
@import url('/src/styles/colors.css');

.molchatBtn{
    padding: 5px 15px;
    color: royalblue;
    font-size: 14px;
    background: transparent;
    border: 1px solid royalblue;
    cursor: pointer;
}