@import url('/src/styles/index.css');
@import url('/src/styles/colors.css');

.molchatInputContainer {
    --input-padding: 20px 12px 4px;
    --input-height: 48px;
    margin: 5px;
}

.molchatInput {
    height: var(--input-height);
    padding: var(--input-padding);
    background-color: var(--rt-transparent-5);    
    outline: none;
    border: none;
    font-size: 1rem;
    width: 100%;
    color: var(--rt-main-text);
    border-radius: 8px;
    /*добавлено*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}